body {
  font-family: "Poppins", sans-serif;
}

header {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0.6) url("../media/bg-image.png")
  );
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

header h1 {
  font-size: 96px;
  font-weight: bold;
  line-height: 1.5;
}

header h2 {
  font-size: 40px;
  font-weight: normal;
  line-height: 1.5;
}

header h3 {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 5px;
  line-height: 1.5;
}
